modules = ["web", "go-1.21", "python-3.12"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 43642730
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go run main.go --port=5000"
